html, body {
  padding: 0;
  margin: 0;
  /* Ensures there is no space around the edges of the page */
  width: 100%;
  height: 100%;
  /* These ensure that your app fills the full size of the browser window */
}